<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="jquery-ui-1.10.4.custom.css" rel="stylesheet"></script>
      <script src="jquery-1.9.1.js"></script>
      <script src="jquery-ui.js"></script>
 
	<!-- Latest Boot Strap compiled and minified CSS
	<script src="script.js"></script>
	<script src="table.js"></script>  -->
	<script src="script.js"></script>

	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="styletwo.css">
		
	<link rel="stylesheet" href="css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<script src="css/bootstrap-theme.min.css"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <img src="../static/images/omnivox.png" alt="omnivox" height="50px" width="50px"/>
    </div>
    <div>
	
	
    <ul class="nav navbar-nav">
        <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a href="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        
		
    	</ul>
		<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul></div>
  </div>
</nav>
<div class='container'><table width='' class='table table-bordered' border='1' >
    <tr>
        <th>Filiere</th>
        <th>Cours</th>
        <th>Salle</th>
        <th>Prof</th>
        <th>Jour</th>
        <th>Debut</th>
        <th>Fin</th>
        
    </tr>
    {% for r in query  %}
    <tr>
           <td>{{r.faculty}}</td>
           <td>{{r.course}}</td>
           <td>{{r.room}}</td>
           <td>{{r.prof}}</td>
           <td>{{r.jour}}</td>
           <td>{{r.start_time}}</td>
           <td>{{r.end_time}}</td>

    {% endfor %}
    </table>
    </div>
</body>